#root {
  height: '100%';
}
.textItalic {
  font-style: italic;
}
.colorGreen {
  color: rgb(168, 192, 72);
}
.addHorseRowWrap {
  float: left;
  position: relative;
  width: 100%;
  border-bottom: 3px solid #e6e6e6;
  padding-top: 5px;
  padding-bottom: 5px;
}
.breadcrumbWrap,
.addHorsesWrap {
  padding: 0;
}
.breadcrumbWrap .breadcrumb {
  font-size: 20px;
  padding: 5px 0;
  background-color: transparent;
}
.breadcrumbWrap .breadcrumb > li + li:before {
  content: '';
  background-image: url('/assets/calRghtIcnGry.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 10px;
}
.breadcrumbWrap .breadcrumb > li > a {
  color: #4d4d4d;
}
.breadcrumbWrap .breadcrumb > li > a:hover,
.breadcrumbWrap .breadcrumb > li > a:focus {
  color: #4d4d4d;
}
.addHorses {
  float: right;
  position: relative;
  width: 50%;
}
.horseTableContainer {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  margin: 50px auto;
  float: left;
  position: relative;
  width: 100%;
  padding: 25px 20px;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}
.horseTableContainer .customDatePicker {
  max-width: 220px;
}
.filterBoxWrap {
  margin-bottom: 40px;
}
.filterBoxWrap .filterBox {
  width: calc(100% / 5 - 17px);
  margin: 0 10px;
  /* min-width: 180px; */
  vertical-align: middle;
  display: inline-block;
}
.filterBoxWrap .filterBox:first-child {
  margin-left: 0;
}
.filterBoxWrap .filterBox:last-child {
  margin-right: 0;
}
.filterBoxWrap .filterBox .titleBar {
  font-size: 11px;
  font-weight: 600;
  background-color: #ddd;
  padding: 5px 5px;
}
.filterBoxWrap .filterBox .contentWrap {
  background-color: #fff;
  padding: 15px 50px;
  position: relative;
}
.filterBoxWrap .filterBox .contentWrap .chartHorseIcon {
  position: absolute;
  top: 25%;
  margin: 0 auto;
  vertical-align: middle;
  left: 45%;
  height: 30px;
}
.horseTableContainer .filterTitle {
  font-size: 26px;
  margin-bottom: 10px;
}
.horseSelectBoxWrap {
  margin-bottom: 20px;
}
.horseSelectBoxWrap h5 {
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: bold;
}
.horseSelectBox {
  max-width: 200px;
  min-height: 35px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
}
.horseSelectBox:focus {
  border-color: #ff7900;
  outline: none !important;
  box-shadow: none;
}
.horseTable .headRow {
  background-color: #e6e6e6;
}
.horseTable {
  background-color: #fff !important;
  margin-bottom: 0;
}
.horseTable > tbody > tr > td,
.horseTable > tbody > tr > th {
  padding: 12px 8px;
  vertical-align: middle;
}
.horseTable > thead > tr > th {
  font-size: 13px;
  font-weight: bold;
}
.horseTable > tbody > tr > td {
  background-color: #fff !important;
}
.horseTable > tbody > tr > td.columnTitle {
  font-size: 12px;
  font-weight: 800;
}
.horseTable > tbody > tr > td > img {
  display: block;
}
.horseTable > tbody > tr > td.iconWrap img {
  vertical-align: middle;
}
.horseTable .rowTitle .iconWrap {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 1px 5px;
}
.blueHorse {
  background-color: #a9e9f9;
  border: 1px solid #5cc9d9;
}
.cinnamonHorse {
  background-color: #fab9b8;
  border: 1px solid #ef5c5c;
}
.greenHorse {
  background-color: #78dd9f;
  border: 1px solid #40c89c;
}
.redHorse{
  background-color: #FA907F;
  border: 1px solid #DF5A51;
}
.horseTable .rowTitle span {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}
.horseTable .iconWrap img {
  margin: 0 auto;
  vertical-align: middle;
}
.horseTable .horseGreenBig {
  height: 30px;
}
.horseTable .horseAddIcon {
  height: 35px;
}
.horseTable .noHorseImg {
  height: 30px;
  width: 35px;
}

.donutchart-track {
  fill: transparent;
  stroke: #dae2e5;
  stroke-width: 26;
}
.donutchart-indicator {
  fill: transparent;
  stroke: #aac24b;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}
.canvasHorse {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}

.donutchart-text {
  fill: #4e4e4e;
  font-size: 16px;
  transform: translateY(25px);
}
.donutchart-text-val {
  font-size: 24px;
}
/* .donutchart-text-percent {
  font-size: 20px;
}
.donutchart-text-label {
  font-size: 9px;
} */
.filterBottomDetailWrap{
  display: flex;
  background-color: #fff;
  padding: 25px;
}
.FilterbottomTable{
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;  
  margin-right: 20px;
  width: calc(100% - 250px);
}
.FilterbottomTable div .table > tbody{
  padding: 20px;
}
.FilterbottomTable .table > tbody > tr > td{
  border-top-color: #ccc;
}
.horseFilterDetail{
  display: block;
  border: 1px solid #ccc;
  min-width: 235px;
  background-color: #fff;
  padding: 0 20px;
}
.horseFilterDetail .blockRow{
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
.horseFilterDetail .blockRow:last-child{
  border-bottom: none;
}
.horseFilterDetail .blockRow .nameDetail{
  line-height: 30px;
}
.horseFilterDetail .blockRow .numDetail{
  font-size: 22px;
  font-weight: bold;
  float: right;
  padding-right: 5px;
}
.horseTable .user-icon{
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
}
.horseTable .user-icon img{
  vertical-align: middle;
}

/*********************/
/*   Media Query    */
/*********************/
@media only screen and (max-width: 1380px) {
  .filterBoxWrap .filterBox .contentWrap {
    padding: 10px 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .horseTableContainer {
    margin: 40px auto;
  }
  .filterBoxWrap .filterBox {
    width: calc(100% / 5 - 8px);
    margin: 0 5px;
    /* min-width: 145px; */
  }
  .filterBoxWrap .filterBox .contentWrap {
    padding: 5px 30px;
  }
  .filterBoxWrap .filterBox .titleBar {
    min-height: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .filterBoxWrap .filterBox .contentWrap {
    padding: 5px 10px;
  }
  .filterBoxWrap .filterBox .contentWrap .chartHorseIcon {
    left: 38%;
  }
}
@media only screen and (max-width: 767px) {
  .breadcrumbWrap .breadcrumb {
    text-align: center;
  }
  .addHorses {
    width: 100%;
  }
  .horseTableContainer .filterTitle {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .filterBoxWrap .filterBox {
    width: 100%;
    margin: 0px 0 20px;
  }
  .filterBoxWrap .filterBox .contentWrap img {
    max-width: 20%;
  }

  .horseTable td span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  .horseTable > tbody > tr > td > img {
    display: inline-block;
    vertical-align: middle;
  }
  .filterBoxWrap .filterBox .contentWrap .chartHorseIcon {
    left: 45px;
    top: 25px;
  }
  .donutchart {
    float: left;
  }
  .filterBottomDetailWrap{
    padding: 15px;
    display: block;
  }
  .FilterbottomTable .horseTable > tbody > tr > td > img{
    display: block;
  }
  .FilterbottomTable .table-responsive{
    border:none;
  }
  .FilterbottomTable {
    display: block;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .horseFilterDetail {
    display: block;
    min-width: 100%;
    padding: 0 20px;
  }
}
